*{
    padding: 0;
    border: 0;
    margin: 0;
    font-family: sans-serif ;
}

.container-head{
    background-color: rgb(17, 16, 16);
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: space-around;
    padding: 100px 0;
}

.container-head>*{
    text-align: center;
    color: azure;
}
.head-img{
    width: 30vw;
}
.gl-font{
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.container-body{
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding-top: 45px;
}
.body-head{
    text-align: center;
    padding: 20px;
}

.body-img{
    margin-bottom: 20px;
}

.body-text{
    padding: 20px;
    width: 60%;
    text-align: center;
}
.container-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    justify-content: space-around;
    gap: 0px;
}
.skill{
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: stretch;
    justify-content: center;
    width: 100vw;
}
.skill-text{
    text-align: left;
    width: 500px;
}

.container-end{
    text-align: center;
    margin: 70px 0 40px 0;
}
.end,.quate{
    color: rgb(90, 89, 89);
}

.footer{
    width: 100vw;
    background-color: rgb(39, 37, 37);
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
.links{
    width: 50%;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.links>a{
    color: white;
    text-decoration: none;
}
.final{
    text-align: center;
    color: white;
}

.links>a:hover{
    cursor: pointer;
    font-weight: 900;
}


@media (max-width:550px) {
    .body-text{
        padding: 20px;
        width: 100vw;
        text-align: center;
    }
    .head-img{
        width:60vw;
}
